.form {
	margin: 0 15px 15px;
}
.form input {
	height: 44px;
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 3px;
	text-indent: 15px;
}
.form button {
	height: 44px;
	border-radius: 3px;
	background: #8a1066;
	color: #fff;
	padding: 0 15px;
	transition: .3s background;
	color: #fff;
}
.form button:hover {
	background: #721155;
}
.form button i {
	margin-right: 15px;
}