.col-md-6:first-child {
	padding-right: 7.5px;
}
.col-md-6:last-child {
	padding-left: 7.5px;
}
form {
	margin: 15px 0 0;
	padding: 0;
}
form input {
	height: 44px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 15px;
	text-indent: 15px;
}
form button {
	height: 44px;
	border: none;
	background: #2c3e50;
	color: #fff;
	border-radius: 3px;
}
form button i {
	color: #fff;
	margin-right: 15px;
}