.sidebar {
	float: left;
	width: 250px;
	height: 100vh;
	background: #fff;
	border-right: 1px solid #ccc;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.sidebar-header {
	background: #2c3e50;
	height: 70px;
	padding: 0 15px;
}
.sidebar-header h2 {
	line-height: 70px;
	color: #fff;
	text-align: center;
}
.sidebar-user {
	margin: 15px 0;
	padding: 0 15px;
	overflow: hidden;
	height: 70px;
}
.sidebar-user img {
	height: 70px;
	width: 70px;
	float: left;
	margin-right: 15px;
}
.sidebar-user .text {
	float: left;
	width: calc(100% - 85px);
	height: 44px;
	margin-top: 13px;
}
.sidebar-user .text p {
	margin: 0;
}
.sidebar a {
	display: block;
	color: #333;
	padding: 15px;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	transition: .2s background;
}
.sidebar a:last-child {
	border-bottom: none;
}
.sidebar a i {
	margin-right: 15px;
}
.sidebar a:hover,
.sidebar a.active {
	text-decoration: none;
	background: #eee;
}