.area {
  overflow: hidden;
  margin: 0 15px;
}
.area-chart {
  width: calc(100% / 3);
  background: #000;
  float: left;
  margin: 0;
}
.orders-stats {
	margin: 15px;
  max-height: 500px;
  height: auto;
}